*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Gabarito", serif;
}

/* Navbar */
.navbar{
    padding: 10px;
    border-bottom: 1px solid gray;
    background-color: white;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar__s1__title{
    color: blueviolet;
}

.navbar__s2{
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    width: 100%;
    background-color: transparent;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 20px;  
    align-items: center;
}

.navbar__s3__title a{ 
    color: black;
    text-decoration: none;
    border: none;
}

.navbar__s3__title a:hover{ 
    transition: 1s;
    text-shadow: 1px 1px 5px gray;
}

.navbar__s3__icons{
    display: flex;
    gap: 10px;
}

.navbar__s3__icons a{
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__s3__icons a:hover{
    background-color: rgb(209, 199, 199);
    transition: 1s;
}

/* My learning purchase */
.mylearning{
    position: relative;
}

.mylearning__purchase{
    display: none;
    background-color: white;
    border: 1px solid black;
    width: 100px;
    padding: 10px;
    position: absolute;
    top: 150%;
    right: 0;
}

.mylearning:hover .mylearning__purchase{
    display: block;
}

.navbar__s4{
    display: none;
}

/* Categories */

.categories{
    padding: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.categories p{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories p:hover{
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: 1s;
}

/* Sale Image  */
.sale-image{
    position: relative;
}

.sale-image img{
    width: 100%;
}

.sale-image__offer{
    width: 35%;
    border: 2px solid black;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 1s;
    animation-timing-function: linear;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* Recommended */
.recommended{
    padding: 10px;
    margin-top: 10px;
}

.recommended__container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.course-card{
    flex-basis: 20%;
    flex-grow: 1;
    padding: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
}

.course-card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.course-card img{
    width: 100%;
    height: 50%;
}

.course-card span{
    text-decoration: line-through;
}

/* Topics */
.topics{
    padding: 10px;   
    margin-top: 10px;
}

.topics-container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics-container p{
    border: 2px solid gray;
    padding: 10px;
    flex-basis: 25%;
    flex-grow: 1;
}

/* Most Popular */
.mostpopular{
    padding: 10px;
}

.mostpopular__container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

/* Footer */
.footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 10px;
}

.footer__one{
    display: flex;
    gap: 30px;
}

.footer__one__s1 p, .footer__one__s2 p{
    margin: 5px;
}

.footer__two{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
  
/* Responsive designs */

  /* Tablets */
  @media (max-width: 1023px) {
    /* Landscape tablets */
    body{
        font-size: 14px;
    }
  }
  

  /* Mobile Devices */
  @media (max-width: 600px) {
    /* Medium phones */
    body{
        font-size: 12px;
    }

    .navbar__s3{
        display: none;
    }

    .navbar__s4{
        display: block;
    }

    .categories{
        display: none;
    }

    .course-card{
        flex-basis: 40%;
        flex-grow: 1;
    }
  }
  
  